{% extends "layout.html" %} {% block body %}
<div class="container">
  <div class="row">
    <h1 class="text-primary">Catalog</h1>
  </div>
  <div class="row">
    <div class="container mt-5">
    <form class="form-inline catalogue-form">
                       <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" </input>
      {% comment %} <ul class="list-group mt-4"> {% endcomment %}
      {% for d in data %}

      <li 
        class="list-group-item list-group-item-primary"
        data-toggle="collapse" 
        data-target="#{{d.title}}" 
        aria-expanded="true" 
        aria-controls="{{d.title}}">
           <input type="checkbox" class="mr-2"/> {{d.code}}, {{d.id}}
        </li>
        <div 
            class="collapse"  
            id="{{d.title}}">
            <ul class="list-group">
                {% for c in d.catalogs %}
                <li 
                    class="list-group-item list-group-item-secondary"
                    data-toggle="collapse" 
                    data-target="#{{c.title}}" 
                    aria-expanded="true" 
                    aria-controls="{{c.title}}">
                    <input type="checkbox" class="mr-2"> {{c.code}}, {{c.id}}
                </li>
                    <div 
                        class="collapse"  
                        id="{{c.title}}">
                    <ul class="list-group">
                    {% for a in c.catalogs %}
                       <li class="list-group-item"><input type="checkbox" class="mr-2"> {{a.code}}, {{a.id}}</li>
                    {% endfor %}                
            </ul>
            </div>
                {% endfor %}
            </ul>
        </div>
      {% endfor %}
      </ul>
      </form>
    </div>
  </div>
  <button id="feed" >calculate Feed</button>

  {% endblock %}  
  
</div>
