{% extends "layout.html" %} {% block body %}
<div class="container">
  <div class="row">
    <h1 class="text-primary">Size</h1>
  </div>
  <div class="row">
    <div class="container mt-5">
      <form class="form-inline size-select-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="collapse show" id="collapseExample1">
          <ul class="list-group">
            {% for d in data %}
            <li
              class="list-group-item list-group-item"
              data-toggle="collapse"
              data-target="#{{d.title}}"
              aria-expanded="true"
              aria-controls="{{d.title}}"
            >
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="checkbox{{d.id}}"
                  name="size_ids[]"
                  value="{{d.id}}"
                />
                <label
                  class="custom-control-label text-left"
                  for="checkbox{{d.id}}"
                  >{{d.caption}}: {{d.description}}</label
                >
              </div>
            </li>

            {% endfor %}
          </ul>
        </div>
      </form>
    </div>
  </div>
  <button id="sizeFeed" class="btn btn-primary">Save Size Preferences</button>
</div>

{% endblock %}
